@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-main-color: #38404B;
  --c-typo-color: #94ADCF;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid var(--c-typo-color);
  box-shadow: 4px 4px 30px 11px rgba(148, 173, 207, 0.2);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--c-main-color);
  color: var(--c-typo-color);
  min-height: 100dvh;
  margin: 0;
  display: flex;
}

#root {
  min-height: 100dvh;
  width: 100%;
  display: flex;
}

* {
  scrollbar-width: thin;
}